<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="msgService" class="edu.zut.spring.service.MsgServiceImpl" scope="singleton" />
	<bean id="orLogic" class="edu.zut.spring.service.OrLogicImpl" scope="prototype" />
	<bean id="andLogic" class="edu.zut.spring.service.AndLogicImpl" scope="prototype" />
</beans>
